APScheduler==3.10.3
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
django-apscheduler==0.7.0
django-bootstrap5==24.3
idna==3.10
paynow==1.0.8
pillow==11.1.0
psycopg2-binary==2.9.10
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzlocal==5.3
urllib3==2.3.0
