{% extends "base.html" %}
{% block main %}
<div class="container-fluid col-md-8">
    <form class="needs-validation" method="post" action="{% url 'paynow' product.pk %}">
        {% csrf_token %}
        <div class="row g-5">
            <!-- Order Summary -->
            <div class="col-md-5">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <img class="img-fluid" width="210" height="150" src="{{ product.image.url }}" alt="No Image">
                        </div>
                        <div>
                            <h6 class="label label-default"><strong>{{ product.name }}</strong></h6>
                        </div>
                        <span class="text-muted">${{ product.price }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Bid Price</span>
                        <strong>${{ product.price }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Platform Fee</span>
                        <strong>${{ platform_fee }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Tax Fee</span>
                        <strong>${{ tax_fee }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Delivery Fee</span>
                        <strong>${{ delivery_fee }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Cost (USD)</span>
                        <input hidden name="total" type="text" value="{{ total_amount }}" />
                        <strong>${{ total_amount }}</strong>
                    </li>
                </ul>
            </div>

            <!-- Customer Details -->
            <div class="col-md-7">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input name="firstname" type="text" class="form-control" id="firstName" placeholder="John" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input name="lastname" type="text" class="form-control" id="lastName" placeholder="Doe" required>
                    </div>

                    <div class="col-sm-12">
                        <label for="email" class="form-label">Email Address</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="you@domain.com" required>
                    </div>

                    <div class="col-sm-12" style="margin-top:10px;">
                        <label for="address" class="form-label">Physical Address</label>
                        <textarea name="address" type="text" class="form-control" id="address" placeholder="123 Main St, City, Country" required></textarea>
                    </div>
                </div>

                <hr class="my-4">

                <!-- Payment Methods -->
                <h4 class="mb-3">Payment Methods</h4>

                <div class="my-3">
                    <div class="col-sm-6">
                        <label for="number" class="form-label">Phone Number</label>
                        <input name="phonenumber" type="number" class="form-control" id="number" placeholder="0771234567" required>
                    </div>

                    <div class="form-check">
                        <input name="paymentMethod" id="ecocash" type="radio" class="form-check-input" value="ecocash" required>
                        <label class="form-check-label" for="ecocash">Ecocash</label>
                    </div>
                </div>

                <hr class="my-4">

                <!-- Submit Button -->
                <button class="w-100 btn btn-success btn-md col-sm-12 col-xs-12" type="submit">Pay Now</button>
            </div>
        </div>
    </form>
</div>
{% endblock main %}